.footer-container {
    color: white;
    background-color: #666666;
    bottom: 1px;
    position: fixed;
    width: 100%;
    font-size: 11px;
    line-height: 1.2em;
    height: 3em;
    margin-left: -3em;
    padding-top: 0.5em;
}

@media screen and (max-width: 768px) {
    .footer-container {
        margin-left: 0;
    }
}